<h1>@ViewBag.thisTrail.Name</h1>
<h3>Description: </h3>
<p>@ViewBag.thisTrail.Description</p>
<h3>Trail Length:</h3>
<p>@ViewBag.thisTrail.Length</p>
<h3>Trail Elevation:</h3>
<p>@ViewBag.thisTrail.Elevation</p>
<ul>
    <li>@ViewBag.thisTrail.Longitude</li>
    <li>@ViewBag.thisTrail.Latitude</li>
</ul>
<hr>
<a href="/">Home</a>